{% extends "layout.html" %}

{% block body %}
    <h1>First Page</h1>

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima obcaecati dignissimos ratione blanditiis corrupti nemo maiores, ut voluptate ea fuga reiciendis accusantium molestiae iste animi voluptatem quae necessitatibus quisquam aspernatur exercitationem explicabo. Pariatur omnis unde dolor et ad accusantium necessitatibus harum, fugiat dolorem amet delectus, ab, aspernatur labore. Expedita provident quaerat assumenda veniam? Aperiam dolorum ratione nulla aspernatur omnis aut voluptate illo, obcaecati, at beatae asperiores exercitationem, fugit quam! Laborum voluptates blanditiis, ducimus qui minus, sapiente recusandae voluptate porro cum eum repudiandae laboriosam delectus sed culpa consectetur totam dolores mollitia hic ex! Voluptate at, animi quos libero unde quas culpa!
{% endblock %}