{% extends "layout.html" %}

{% block body %}
    <h1>Second Page</h1>

    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis necessitatibus quasi vel assumenda natus voluptatem officia optio repudiandae soluta atque laborum ex labore, laboriosam tenetur nostrum ipsum ad, magni, at magnam eum. Molestiae, repudiandae! Nobis, molestiae, eaque quo recusandae laboriosam officia, accusantium animi possimus placeat corporis non suscipit. Facilis numquam natus impedit ducimus illo fugiat dolorum, earum cupiditate ipsam sapiente, at dolorem in, porro suscipit explicabo rem expedita maxime ad!
{% endblock %}

